@font-face {
    font-family: 'Digital7';
    src: url('./Digital7.ttf');
}

.container, body {
    background-color: #151515 !important;
}

* {
    font-family: 'Digital7';
    color: orange;
}

.glow {
    text-shadow: 0 0 10px orange;
}
